@layout LoginLayout
@inherits LayoutComponentBase



    
    <center>
        
        <div class="background">
            <div class="col-12 row">
                <p>&nbsp;</p>
            </div>
            <div class="col-12 row">

                <div class="col-6" style="border-left:thick">
                    @Body
                </div>
            </div>
        </div>
    </center>


    <style>
        .background {
            background: url(./back.mp4);
            background-position: center;
            height: 686px;
            position: fixed;
            top: 100px;
            right: 0;
            bottom: 0;
            left: 0;
            overflow: hidden;
            z-index: -100;
        }
    </style>
