@inherits LayoutComponentBase
@layout LoginLayout
<center>
    
    <div class="main-log">
        <div class="login-form">
            <div class="col-12 card">
                @Body
            </div>
        </div>
    </div>
</center>

<style>
    .col-12 .card {
        margin-top: 100px;
    }
    .main-log {
        
    }
</style>
   