@inherits LayoutComponentBase
@layout LoginLayout
<center>
    <div class="main-log">
        <div class="login-form">
            <div class="alert-warning">
                
                <label class="h3-warning">UWAGA</label>
                <br />
                <label class="control-label-warning">
                    Dla celów demonstracyjnych, wprowadzone zmiany są cofane co 25 minut. Może to skutkować wylogowaniem i chwilową przerwą w dostępie do aplikacji.
                </label>
            </div>
            <div class="col-12 card">
                @Body
            </div>
        </div>
    </div>
</center>

<style>
    .col-12 .card {
        margin-top: 100px;
    }
</style>
   