@inherits LayoutComponentBase

<div class="col-xl-12 input-position">
    <br />
    <br />
    @Body
</div>

<style>
    
  .input-position input {
    margin: 0 auto;
    display: block;
  
}
</style>