@inherits LayoutComponentBase

<div class="sidebar">
        <NavMenu />
</div>

<div class="main">
    <div class="top-row px-sm-4" style="height: 50px;">
        
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>


