@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <div style="">
            <button href="/" class="btn btn-primary" onclick="@Logout">Wyloguj się</button>
        </div>
        
       @Body
    </div>
</div>

@code {

    private void Logout(MouseEventArgs e)
    {
        NavigationManager.NavigateTo("/");
        
    }

}