@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <button class="btn btn-primary" @onclick="@Logout">Wyloguj się</button>
    </div>
    <div>
        @Body
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Pages.Login.UserLoggedIn.If_manager = -1;
    }

    private void Logout()
    {
        NavigationManager.NavigateTo("/");
        Pages.Login.UserLoggedIn.If_manager = -1;
    }

}