@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>


<div class="main">
    <div class="top-row px-4">
        <a>Nick</a>
        <img src="https://img.icons8.com/dusk/45/000000/user.png" />
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
