@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="main">
    <NavMenu />
</div>
<div class="head">
    <div>
        @Body
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

}
<style>

    .main {
        margin: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
    }

    .topnav {
        background-color: #333;
    }

        .topnav a {
            float: right;
            color: #f2f2f2;
            text-align: center;
            text-decoration: none;
            font-size: 17px;
        }

            .topnav a:hover {
                background-color: #ddd;
                color: black;
            }

            .topnav a.active {
                background-color: #4CAF50;
                color: white;
            }
</style>