
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <br />
            <h4>Błąd 404 - nie znaleziono takiej strony.</h4>
            <p>Sprawdź poprawność wpisanego adresu lub <a href="/" style="font-size: large">przejdź do strony logowania</a>.</p>
        </LayoutView>
    </NotFound>
</Router>
