@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.employeelabel {
    font-size: 14px;
    color: #1B9D8C;
}

.e-dialog .e-dlg-header-content {
    background-color: #32856B;
}

.deadline-below-today {
    color: red;
    font-weight: bold;
}

.dane {
    text-align: center;
    color: black;
    font-size: 26px;
    font-family: 'Josefin Sans', sans-serif;
}

.e-kanban .e-kanban-table {
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

.e-kanban .e-kanban-content .e-content-row .e-content-cells.e-collapsed .e-collapse-header-text {
    font-size: 18px;
    
}

.e-kanban .e-kanban-header .e-header-cells {
    font-size: 24px;
    background: #5CC1A1;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

    .e-kanban .e-kanban-header .e-header-cells .e-header-text {
        font-size: 20px;
        
    }

    .button1 {
        background-color: white;
        color: black;
        border: 2px solid #4CAF50;
    }

html, body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #FFFCFF;
    color: #8a8a8a;
    display: flex;
    flex-direction: column;
    
}

a, .btn-link {
    color: white;
    font-size: 18px;
}

.btn-primary {
    
    justify-content: center;
    color: whitesmoke;
    background-color: #3da081;
    border-color: #3da081;
}

    .btn-primary:hover {
        color: whitesmoke;
        background-color: #399679;
    }

.actionBtn {
    margin-left: 10px;
    display: inline-block;
    float: left;
}

#deleteBtn {
    background-color: #ff6363;
    border-color: #ff6363;
}

    #deleteBtn:hover {
        border-color: #de5757;
        background-color: #de5757;
    }

th {
    color: black;
    font-weight: normal;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}



.main {
    flex: 1;
    
}



.content {
    padding-top: 0.5rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

   
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

}

.my-custom-scrollbar {
    position: relative;
    height: 400px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.validation-message {
    font-family: 'Josefin Sans', sans-serif;
    color: #E3170A;
    font-size: 13px;
    font-weight: bold;
}


.header {
    
    text-align: center;
    width: 100%;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
}

.control-label {
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
}

.header-list {
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
}

.form-group {
    font-size: 20px;
}

.form-control-checkbox {
    font-size: 16px;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
