@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.employeelabel {
    font-size: 14px;
    color: #1B9D8C;
}


.h3 {
    margin-top: 30px;
}

.authorname {
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

.detailsAnswer {
    font-size: 9px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
}

.posting {
    font-size: 12px;
    font-family: 'Josefin Sans', sans-serif;
}

.e-input-group.e-control-wrapper.e-custom .e-input {
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
}

.input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    margin-top: 5px;
    margin-right: 5px;
}

.e-kanban .e-kanban-content {
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
}

.e-dialog .e-dlg-header-content {
    background-color: #32856B;
}

.deadline-below-today {
    color: white;
    font-weight: bold;
    text-emphasis-color: red;
}

.dane {
    text-align: center;
    color: black;
    font-size: 26px;
    font-family: 'Josefin Sans', sans-serif;
}

.e-kanban .e-kanban-table {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.e-kanban .e-kanban-content .e-content-row .e-content-cells .e-card-container .e-card .e-card-header .e-card-header-title {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
.e-kanban .e-kanban-content .e-content-row .e-content-cells .e-card-container .e-card .e-card-content {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
.e-kanban .e-kanban-content .e-content-row .e-content-cells .e-card .e-card-content {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.e-kanban .e-kanban-content .e-content-row .e-content-cells.e-collapsed .e-collapse-header-text {
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    
}
.e-kanban .e-kanban-header .e-header-cells .e-header-text {
    font-size: 20px;
}

.e-kanban .e-kanban-header .e-header-cells {
    font-size: 24px;
    background: #5CC1A1;
    font-family: 'Josefin Sans', sans-serif;
}

    .e-kanban .e-kanban-header .e-header-cells .e-header-text {
        font-size: 24px;
        text-align: center
    }

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    font-family: 'Josefin Sans', sans-serif;
}

html, body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #FFFCFF;
    color: #8a8a8a;
    display: flex;
    flex-direction: column;
    
}
 

a, .btn-link {
    color: white;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
}

.btn-primary {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    justify-content: center;
    color: whitesmoke;
    background-color: #3da081;
    border-color: #3da081;
    min-width: 90px;
}

    .btn-primary:hover {
        color: whitesmoke;
        background-color: #399679;
    }

.btn-info {
    border-color: #3da081;
    background-color: #3da081;
}

.actionBtn {
    margin-left: 10px;
    display: inline-block;
    float: left;
}

#deleteBtn {
    background-color: #ff6363;
    border-color: #ff6363;
}

    #deleteBtn:hover {
        border-color: #de5757;
        background-color: #de5757;
    }

th {
    color: black;
    font-weight: normal;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}



.main {
    flex: 1;
    //margin-right: 20px;
    font-family: 'Josefin Sans', sans-serif;
}



.content {
    padding-top: 0.5rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

   
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

}

.my-custom-scrollbar {
    position: relative;
    height: 400px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.validation-message {
    font-family: 'Josefin Sans', sans-serif;
    color: #E3170A;
    font-size: 13px;
    font-weight: bold;
}


.header {
    text-align: center;
    width: 100%;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    font-family: 'Josefin Sans', sans-serif;
}

.e-dialog .e-dlg-header {
    text-align: center;
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: #F7F4F2;
}

.control-label {
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
}

.e-gridheader {
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
}

.header-list {
    font-size: 26px;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
}



.form-group {
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    width: 10px;
}

.form-control-checkbox {
    font-size: 16px;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}

.e-pager .e-pagercontainer {
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    margin: 0 0 -4px;
    overflow: hidden;
    font-size: 1px;
    height: 35px;
}

// licznik stron, wiadomosc
.e-pager div.e-parentmsgbar {
    float: right;
    padding-bottom: 9px;
    padding-right: 0;
    padding-top: 8px;
    font-family: 8px;
    font-family: 'Montserrat', sans-serif;
}

.e-grid .e-rowcell {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.e-input-group textarea.e-input, .e-input-group.e-control-wrapper textarea.e-input {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.e-control .e-input-group.e-control-wrapper input {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.e-richtexteditor .e-rte-content .e-content {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
<!-- kolor countera -->
.e-pager .e-currentitem {
    background-color: #A3A3A3;
}

.e-pager .e-numericitem {
    border-right-style: solid;
    border-right-width: 1px;
    display: inline-block;
    line-height: 1;
    margin-right: 0;
    min-width: 26px;
    padding: 13px 12px 10px 12px;
    font-size: 12px;
    text-align: center;
}

.header {
    background-image: url('/Images/back.mp4');
    background-position:  center ;
    background-size: 100%;
    height: 150px;
}


.e-grid .e-icons {
    color: #858585;
}