@page "/employees-m"
@*dostęp do podstrony dla menadzera/pracownika*@

@if (Login.UserLoggedIn.If_manager == 1 || Login.UserLoggedIn.If_manager == 0)
{
    <h1>Pracownicy</h1>

    //TODO - wybrać/przetestować opcje do ContextMenu
    <SfGrid DataSource="EmployeeList"
            AllowPaging="true"
            AllowSorting="true"
            AllowFiltering="false"
            ContextMenuItems="@(new List<object>()
            { "AutoFit", "AutoFitAll", "SortAscending", "SortDescending", "Copy"})">
        <GridPageSettings PageSize="12"></GridPageSettings>
        <GridColumns>
            <GridColumn Field=@nameof(EmployeeModel.Employee_id) IsPrimaryKey="true" HeaderText="ID" TextAlign="TextAlign.Left" Width="50"></GridColumn>
            <GridColumn Field=@nameof(EmployeeModel.First_name) HeaderText="Imię" TextAlign="TextAlign.Left" Width="80"></GridColumn>
            <GridColumn Field=@nameof(EmployeeModel.Last_name) HeaderText="Nazwisko" TextAlign="TextAlign.Left" Width="120"></GridColumn>
            <GridColumn Field=@nameof(EmployeeModel.Email) HeaderText="E-mail" TextAlign="TextAlign.Left" Width="120"></GridColumn>
            <GridColumn Field=@nameof(EmployeeModel.UserType) HeaderText="Rodzaj" TextAlign="TextAlign.Left" Width="80"></GridColumn>
        </GridColumns>
    </SfGrid>
}

@code {

    /// <summary>
    /// Strona wyświetlająca listę pracowników dla widoku menadżera/pracownika.
    /// </summary>
    public static List<EmployeeModel> EmployeeList;
    public int length;

    protected override void OnInitialized()
    {
        EmployeeList = EmployeeData.GetAllByCompanyId(WebApp.Pages.Login.UserLoggedIn.Company_id);
        length = EmployeeList.Count;
    }
}