@page "/employees-m"
<h1>Pracownicy</h1>
<div>
    <div style="float:right; width:40%;">
        <div class="col-sm-6" style="float:left">
            <input class="form-control" type="text" placeholder="Szukaj" />
        </div>
        <div>
            <button type="submit" class="btn btn-default btn-info">Filtruj</button>
        </div>
    </div>
</div>

<table class='table'>
    <thead>
        <tr>
            <th>ID</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Email</th>
            <th>Rodzaj pracownika</th>
        </tr>
    </thead>
</table>



@code {

}
