@page "/employees-m"

@*dostęp do podstrony tylko dla menadzera*@
@if (WebApp.Pages.Login.UserLoggedIn.If_manager == 1)
{
    <h1>Pracownicy</h1>
    <div>
        <div style="float:right; width:40%;">
            <div class="col-sm-6" style="float:left">
                <input class="form-control" type="text" placeholder="Szukaj" />
            </div>
            <div>
                <button type="submit" class="btn btn-default btn-info">Filtruj</button>
            </div>
        </div>
    </div>

    <table class='table'>
        <thead>
            <tr>
                <th>ID</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Email</th>
                <th>Rodzaj pracownika</th>
            </tr>
            @for (int i = 0; i < length; i++)
            {
                <tr>
                    <th>@ListToDisplayEmployees_m[i].Employee_id</th>
                    <th>@ListToDisplayEmployees_m[i].First_name</th>
                    <th>@ListToDisplayEmployees_m[i].Last_name</th>
                    <th>@ListToDisplayEmployees_m[i].Email</th>
                    @if (ListToDisplayEmployees_m[i].If_manager == 1)
                    {
                        <th>Kierownik</th>
                    }
                    @if (ListToDisplayEmployees_m[i].If_manager == 0)
                    {
                        <th>Pracownik</th>
                    }
                    @if (ListToDisplayEmployees_m[i].If_manager == 2)
                    {
                        <th>Szef</th>
                    }

                </tr>

            }
        </thead>
    </table>

}


@code {

    /// <summary>
    /// Tworzymy liste, ktora przechowuje wszystkich pracownikow, zgodnych z ip firmy, by nastepnie ich wyswietlic w aplikacji
    /// </summary>
    public static List<BackendLibrary.Models.EmployeeModel> ListToDisplayEmployees_m = BackendLibrary.DataAccess.EmployeeData.GetAllByCompanyId(WebApp.Pages.Login.UserLoggedIn.Company_id);
    public int length = ListToDisplayEmployees_m.Count;

}
