@page  "/"
@layout CenteredCardLayout
@inject NavigationManager NavigationManager


<center>
    <div>
        <br /><br /><br /><br /><br />
    </div>
    <div>
        <h3 style="font-weight:bold; color:#3da081">Zaloguj się</h3>
    </div>
    <div>
        <br />
    </div>
    <EditForm Model="Log">
        <DataAnnotationsValidator />
        <div class="col-12 row">
            <input class="form-control col-12" placeholder="email/id" @bind-value="Log.Login" />
            <ValidationMessage For="@(() => Log.Login)" />
        </div>
        <br />
        <div class="col-12 row">
            <input type="password" class="form-control col-12" placeholder="hasło" @bind-value="Log.Password" />
            <ValidationMessage For="@(() => Log.Password)" />
        </div>
        <br />
        <div class="col-12 row">
            <span class="col-12"></span>
            <input type="submit" class="form-control col-6 btn btn-primary" @onclick="LoginSubmit" value="Zaloguj się" />
            <a href="/signup" class="col-6">Rejestracja</a>
        </div>
        <br />
        <div class="col-12 row" style="text-align:left; font-weight:bold">
            <span class="col-12"></span>
        </div>
    </EditForm>
</center>


@code{
    
    // tworzmy obiekt do przechowywania informacji o zalogowanym uzytkowniku
    public static BackendLibrary.Models.EmployeeModel UserLoggedIn = new BackendLibrary.Models.EmployeeModel();

    private BackendLibrary.Models.Validation.LoginValidation Log = new BackendLibrary.Models.Validation.LoginValidation();
    private void LoginSubmit() {

        // tutaj nastepuje przypisanie wszystkich wartosci do obiektu UserLoggedIn, zgodnie z podanym loginem i haslem
        BackendLibrary.Models.EmployeeModel.SaveUserData(UserLoggedIn, Log.Login, Log.Password);

        if (UserLoggedIn.If_manager == -1) {
            //TODO tu jest zle haslo albo login trzeba to wyswietlic, potem ogarne :)

        }
        // 0 jest dla zyklego pracownika
        else if (UserLoggedIn.If_manager == 0) {
            NavigationManager.NavigateTo("/tasks-e");
        }

        // 1 jest dla managera a 2 dla bosa(proszę nie psuć mi koncepcji zajęć)

        else if (UserLoggedIn.If_manager == 1 || UserLoggedIn.If_manager == 2) {
            NavigationManager.NavigateTo("/tasks-m");
        }

    }
}
