@page  "/signup"

@layout CenteredCardLayout

<div>
    <br /><br /><br /><br /><br />
</div>
<div>
    <h3 style="font-weight:bold; color:#3da081">Rejestracja</h3>
</div>
<div>
    <br />
</div>
<div class="col-12 row">
    <input class="form-control col-12" placeholder="email/id" />
</div>
<br />
<div class="col-12 row">
    <input type="password" class="form-control col-12" placeholder="hasło" />
</div>
<br />
<div class="col-12 row">
    <input type="password" class="form-control col-12" placeholder="powtórz hasło" />
</div>
<br />
<div class="col-12 row">
    <span class="col-12"></span>
    <input type="submit" class="form-control col-6 btn btn-primary" value="Zarejestruj się" />
    <a href="/" class="col-6">Jesteś już użytkownikiem?</a>
</div>
<br />



