@page "/tasks"
@inject NavigationManager NavigationManager
@*@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper*@

<h3>Wszystkie zadania</h3>

@* wyświetlanie przycisku do tworzenia nowych zadań *@
@if (WebApp.Pages.Login.UserLoggedIn.If_manager == 1 || WebApp.Pages.Login.UserLoggedIn.If_manager == 2)
{
    <div>
        <div class="search" style="float: left;">
            <button class="btn btn-primary" @onclick="AddNew">Dodaj zadanie</button>
        </div>
    </div>  
}

<div class="search" style="float: right; width: auto;">
    <label >Szukaj:</label>
    <input type="text" @bind-value="searchStr" @onkeyup="@SearchOnEnter" />
</div>
<br/><br/>

<div>
    <SfGrid @ref="DefaultGrid"
            DataSource="TaskList"
            AllowPaging="true"
            AllowSorting="true"
            AllowFiltering="true">
        <GridSearchSettings IgnoreCase="true"></GridSearchSettings>
        <GridFilterSettings EnableCaseSensitivity="false"></GridFilterSettings>
        <GridPageSettings PageSize="12"></GridPageSettings>
        <GridSelectionSettings CheckboxOnly="true" PersistSelection="true"></GridSelectionSettings>

        <GridColumns>
            <GridColumn Field=@nameof(TaskModel.Task_id) HeaderText="ID" TextAlign="TextAlign.Left" Width="50"></GridColumn>
            <GridColumn Field=@nameof(TaskModel.Name) HeaderText="Nazwa" TextAlign="TextAlign.Left" Width="250"></GridColumn>
            <GridColumn Field=@nameof(TaskModel.Status) HeaderText="Status" TextAlign="TextAlign.Left" Width="120"></GridColumn>
            <GridColumn Field=@nameof(TaskModel.Start_time) HeaderText="Data rozpoczęcia" Format="d" Type="ColumnType.Date"
                        TextAlign="TextAlign.Left" Width="120"></GridColumn>
            <GridColumn Field=@nameof(TaskModel.Deadline) HeaderText="Deadline" Format="d" Type="ColumnType.Date"
                        TextAlign="TextAlign.Left" Width="120"></GridColumn>
        </GridColumns>

    </SfGrid>
</div>

<style>
    .search {
        width: 200px;
        display: inline-block;
        white-space: nowrap;
    }
</style>


@code {
    private SfGrid<TaskModel> DefaultGrid;
    private Boolean addButtonClicked;
    private string searchStr;
    public static List<BackendLibrary.Models.TaskModel> TaskList;

    protected override void OnInitialized()
    {
        TaskList = BackendLibrary.DataAccess.TaskData.GetAllByCompanyId(WebApp.Pages.Login.UserLoggedIn.Company_id);
        addButtonClicked = false;
    }

    private void SearchOnEnter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            this.DefaultGrid.Search(searchStr);
        }
    }

    private void AddNew(MouseEventArgs e)
    {
        NavigationManager.NavigateTo("/add-task");
        addButtonClicked = true;
    }
}