@page "/tasks-e"

<h1>Zadania</h1>



<div>
    <div style="float:right; width:40%;">
        <div class="col-sm-6" style="float:left">
            <input class="form-control" type="text" placeholder="Szukaj" />
        </div>
        <div>
            <button type="submit" class="btn btn-default btn-info">Filtruj</button>
        </div>
    </div>
</div>

<table class='table'>
    <thead>
        <tr>
            <th>Tytuł</th>
            <th>Deadline</th>
            <th>Status</th>
        </tr>
        @for (int i = 0; i < length; i++)
        {
            <tr>
                <th> @tablica[i].Name </th>
                <th> @tablica[i].Deadline </th>
                <th> @tablica[i].Status </th>
            </tr>
        }
    </thead>
</table>


@code {

    /// <summary>
    /// Tworzymy liste, ktora przechowuje wszystkie taski zgodne z firmą pracownika, by je wyswietlic w aplikacji
    /// </summary>
    public static List<BackendLibrary.Models.TaskModel> tablica = BackendLibrary.DataAccess.TaskData.GetAllByCompanyId(1);
    public int length = tablica.Count;
    // company_id jest wpisywane na sztywno, jednak to należy poprawić, by pobierało od pracownika
}
