@page "/tasks-e"

@*dostęp do podstrony tylko dla pracownika*@
@if (WebApp.Program.if_manager == 0)
{
    <h1>Zadania</h1>



    <div>
        <div style="float:right; width:40%;">
            <div class="col-sm-6" style="float:left">
                <input class="form-control" type="text" placeholder="Szukaj" />
            </div>
            <div>
                <button type="submit" class="btn btn-default btn-info">Filtruj</button>
            </div>
        </div>
    </div>

    <table class='table'>
        <thead>
            <tr>
                <th>Tytuł</th>
                <th>Deadline</th>
                <th>Status</th>
            </tr>
            @for (int i = 0; i < length; i++)
            {
                <tr>
                    <th> @ListToDisplayTasks_e[i].Name </th>
                    <th> @ListToDisplayTasks_e[i].Deadline </th>
                    <th> @ListToDisplayTasks_e[i].Status </th>
                </tr>
            }
        </thead>
    </table>

}


@code {

    /// <summary>
    /// Tworzymy liste, ktora przechowuje wszystkie taski zgodne z firmą pracownika, by je wyswietlic w aplikacji
    /// </summary>
    public static List<BackendLibrary.Models.TaskModel> ListToDisplayTasks_e =
        BackendLibrary.DataAccess.TaskData.GetAllByCompanyId(WebApp.Program.company_id);
    public int length = ListToDisplayTasks_e.Count;
    // company_id jest wpisywane na sztywno, jednak to należy poprawić, by pobierało od pracownika
}
